* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #F5EBDD; 
    color: #344b31; 
  }
    header {
    background-color: #6b8661; 
    padding: 20px;
    text-align: center;
    color: #2b492b;
  }
    header h1 {
    font-size: 2.5rem;
  }
   footer {
    background-color: #6b8661; 
    padding: 20px;
    text-align: center;
    color: #2b492b;
  }
    footer p {
    font-size: 1.2rem;
  }
    .container {
    background-color: #c0b78c; 
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

img {
    border-radius: 15px; 
    overflow: hidden; 
}

.img-circle {
    border-radius: 50%;
}

.img-soft {
    border-radius: 10px;
}

.img-rounded {
    border-radius: 25px;
}

.img-pill {
    border-radius: 50px;
}

    .container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #307c29;
  }
  
  .container p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #083504;
  }

  
.nav-item {
    list-style: none;
    display: inline-block;
    margin: 0 15px; 
  }
  li {
  font-size: 18px;
  margin: 10px 0;
  padding-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  background-color: #C2A88E; 
  padding: 20px; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  max-width: 600px; 
  margin: 20px auto; 
  text-align: center; 
  border: 2px solid #C2A88E;
}
 

  
  .nav-link {
    text-decoration: none;
    color: #26683a; 
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in-out; 
  }
  .nav-link:hover {
    background-color: #3e7015; 
    color: #fff; 
    transform: translateY(-3px); 
  }
  
 
  .nav-link:active {
    background-color: #d9eecb; 
    color: #5ec767;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  }
   @media (max-width: 800px) {
    header .container {
        flex-direction: column;
        text-align: center;
       
    }
}