* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #afa68c; 
    color: #344b31; 
  }
    header {
    background-color: #6b8661; 
    padding: 20px;
    text-align: center;
    color: #2b492b;
  }
    header h1 {
    font-size: 2.5rem;
  }
  